################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ERP/FileContentIndex/d8b59713-4c2a-4236-9158-a8f9c5055baf.vsidx

.vs/
